@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/* RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Poppins';
}

/* Barra de rolagem suave */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.62rem;
}

body::-webkit-scrollbar-track {
  background: #e4e4e4;
}

body::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 1.25rem;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.palette {
  background-color: #117050;
  width: 168px;
  height: 22px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 40px;
}

h2 {
  margin-top: 11px;
  margin-right: 20px;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}

.text {
  margin-top: 30px;
  margin-right: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  color: #454545;
  border-radius: 3px;
  border: 2px solid #454545;
}

.btn:hover {
  color: #eee;
  background-color: #454545;
}

header .line {
  background-color: #117050;
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  width: 64px;
  height: 64px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  width: 250px;
  color: #2c2c2c;
}

.header--search input::placeholder {
  color: #1c1c1c;
}

.header--search button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: -25px;
}

.header--search button img {
  width: 16px;
  height: 16px;
}

.header--menu {
  margin-left: 50px;
  cursor: pointer;
}

.header--menu img {
  width: 24px;
  height: 24px;
}

/* Background section */
.banner {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner--images img {
  width: 150px;
  height: 150px;
  margin-top: 60px;
  border: 6px solid #117050;
  border-radius: 50%;
  margin-right: 40px;
}

.u-text {
  word-wrap: break-word;
}

/* AREA 1 */
.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--content {
  padding: 80px 200px;
}

.txt1-quote {
  margin-top: 20px;
}

.area1--img1 {
  height: 350px;
  background-image: url('../img/f2.jpg');
  background-size: cover;
  background-position: center;
}

.area1--img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url('../img/f1.jpg');
  background-size: cover;
  background-position: center;
}

.area1--content a.btn {
  margin: 55px auto;
}

/* AREA 2 */
.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2--content {
  padding: 80px 200px;
}

.area2--img1 {
  height: 453px;
  background-image: url('../img/f4.jpg');
  background-size: cover;
  background-position: center;
}

.area2--img2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url('../img/f3.jpg');
  background-size: cover;
  background-position: center;
}

.area2--content a.btn {
  margin: 27px auto 55px 0;
}

/* AREA 3 */
.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area3--content {
  padding-top: 260px;
  padding-left: 300px;
  padding-right: 80px;
  padding-bottom: 200px;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: left;
}

.area3--img1 {
  background-image: url('../img/f5.jpg');
  background-size: cover;
  background-position: center;
}

.area3--content a.btn {
  margin: 27px auto 55px 0;
}

/* AREA 4 */
.area4 {
  display: grid;
  grid-template-columns: 700px 1fr;
  background-color: #e8e9ee;
}

.area4--content {
  padding-top: 160px;
  padding-left: 300px;
  padding-right: 80px;
  padding-bottom: 200px;
}

.area4--img1 {
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-position: center;
}

.area4--content a.btn {
  margin: 27px auto 55px 0;
}

/* AREA 4 */
.area5 {
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  background-position: center;
  height: 900px;
}

footer p {
  text-align: center;
  color: #e8e9ee;
  background-color: #333;
  padding: 80px;
}

/* MEDIA QUERY */

@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .area1--content,
  .area2--content,
  .area3--content,
  .area4--content {
    padding: 80px;
  }
  .area4 {
    grid-template-columns: 500px 1fr;
  }
  .area4--img1 {
    background-position: left;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .area1--content,
  .area2--content,
  .area3--content,
  .area4--content {
    padding: 80px;
  }
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .area1 {
    grid-template-columns: 3fr 2fr;
  }
  .area2 {
    grid-template-columns: 2fr 3fr;
  }
  .area3 {
    grid-template-columns: 2fr 3fr;
  }
  .area4 {
    grid-template-columns: 480px 1fr;
  }
  .area4--img1 {
    background-position: left;
  }
}

@media (max-width: 425px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .area1--content,
  .area2--content,
  .area3--content,
  .area4--content {
    padding: 80px;
  }
  .header--menu {
    margin-left: 20px;
  }
  .header--search input {
    width: 100%;
    max-width: 165px;
  }
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .banner--images img {
    width: 70px;
    height: 70px;
    border: 3px solid #117050;
    border-radius: 50%;
    margin-right: 10px;
  }
  .area1,
  .area2,
  .area3,
  .area4 {
    grid-template-columns: 1fr;
  }
  .area1--content,
  .area2--content,
  .area3--content,
  .area4--content {
    padding: 40px;
  }
  .area1--img1 {
    height: 210px;
  }
  .area5 {
    height: 200px;
  }
}

/* @media (max-width: 385px) {
  .header--search input {
    width: 100%;
    max-width: 250px;
  }
} */
